import(sp)
import("methods")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "title")
importFrom("stats", "na.omit","quantile","var","median")
importFrom("sp", "is.projected")
importFrom("rts", rts)
importFrom("xts", nyears)
importFrom("yaImpute", ann)
importFrom("zoo", index)
importFrom("raster",calc,raster,nlayers,addLayer,pointDistance,xyFromCell,projection,extent,stack,yFromRow,crs,as.data.frame)
importFrom("terra",app,rast,nlyr)
exportPattern("^[[:alpha:]]+")
