import(sp)
import("methods")
importFrom("graphics", "abline", "axis", "box", "grid", "lines", "title")
importFrom("stats", "na.omit","quantile","var","median")
#importFrom("utils", "stack")
importFrom("rts", rts)
importFrom("zoo", index)
importFrom("raster",calc,raster,nlayers,addLayer,pointDistance,xyFromCell,projection,extent,stack)
importFrom("terra",app,rast,nlyr)
exportPattern("^[[:alpha:]]+")
